![](https://img.freepik.com/free-vector/memory-storage-concept-illustration_114360-3446.jpg?t=st=1716383807~exp=1716387407~hmac=d78af4a79544b49d43d94d9cecbbc48f5ed3efc3ec5fa14fad24faeffb81fb75&w=826)

# Leitura de Revis√£o
## Python SQLite3: Aprenda a utilizar o banco de dados SQLite3 com Python

Python SQLite3: Aprenda a utilizar o m√≥dulo SQLite3 do Python para criar, conectar e gerenciar bancos de dados SQLite3. 

### O que √© o Python SQLite3 e por que utiliz√°-lo para trabalhar com bancos de dados?

Python SQLite3 √© um m√≥dulo integrado ao Python que permite a intera√ß√£o com o banco de dados SQLite3. O SQLite3 √© um banco de dados leve, r√°pido e f√°cil de usar, que n√£o requer instala√ß√£o de um servidor separado. Ele √© amplamente utilizado em aplicativos de desktop, mobile e web, devido √† sua simplicidade e efici√™ncia.

### Raz√µes para utilizar o Python SQLite3

Python SQLite3 √© um m√≥dulo integrado ao Python que permite a intera√ß√£o com o banco de dados SQLite3. O SQLite3 √© um banco de dados leve, r√°pido e f√°cil de usar, que n√£o requer instala√ß√£o de um servidor separado. Ele √© amplamente utilizado em aplicativos de desktop, mobile e web, devido √† sua simplicidade e efici√™ncia.

### Raz√µes para utilizar o Python SQLite3

Existem v√°rias raz√µes pelas quais voc√™ deve considerar utilizar o Python SQLite3 para trabalhar com bancos de dados. Aqui est√£o algumas delas:

### Facilidade de uso

O Python SQLite3 oferece uma interface simples e intuitiva para interagir com o banco de dados SQLite3. Com apenas algumas linhas de c√≥digo, voc√™ pode criar, conectar, consultar e modificar o banco de dados.

### Portabilidade

O SQLite3 √© um banco de dados embutido, o que significa que o arquivo do banco de dados √© armazenado localmente no sistema de arquivos. Isso o torna altamente port√°til, permitindo que voc√™ mova facilmente o banco de dados entre diferentes sistemas operacionais e plataformas.

### Baixo consumo de recursos

O SQLite3 √© projetado para ser leve e eficiente em termos de consumo de recursos. Ele n√£o requer muita mem√≥ria ou poder de processamento, o que o torna ideal para dispositivos com recursos limitados, como smartphones e sistemas embarcados.

### Ampla ado√ß√£o

O SQLite3 √© um dos bancos de dados mais populares do mundo, com uma grande comunidade de desenvolvedores e uma vasta quantidade de recursos e documenta√ß√£o dispon√≠veis. Isso significa que voc√™ pode encontrar facilmente suporte e solu√ß√µes para qualquer problema que possa surgir ao utilizar o Python SQLite3.

### Como instalar o m√≥dulo SQLite3 no Python e configurar o ambiente de desenvolvimento?

ara utilizar o m√≥dulo SQLite3 no Python, voc√™ precisa garantir que ele esteja instalado e configurado corretamente em seu ambiente de desenvolvimento. Aqui est√£o os passos necess√°rios para fazer isso:

#### 1. Verifique a vers√£o do Python

Antes de prosseguir, verifique se voc√™ tem o Python instalado em seu sistema. Abra o terminal ou prompt de comando e digite python --version para verificar a vers√£o instalada. Certifique-se de ter pelo menos o Python 3.6 ou superior.

#### 2. Instale o m√≥dulo SQLite3

O m√≥dulo SQLite3 j√° √© inclu√≠do na biblioteca padr√£o do Python, portanto, n√£o √© necess√°rio instal√°-lo separadamente. No entanto, voc√™ pode verificar se ele est√° dispon√≠vel digitando import sqlite3 no interpretador Python. Se n√£o houver erros, significa que o m√≥dulo est√° instalado corretamente.

#### 3. Crie um ambiente virtual (opcional)

Para manter seu ambiente de desenvolvimento limpo e isolado, √© recomend√°vel criar um ambiente virtual para o seu projeto. Use a ferramenta venv do Python para criar um novo ambiente virtual e ativ√°-lo usando o comando apropriado para o seu sistema operacional.

#### 4. Importe o m√≥dulo SQLite3

Em seu c√≥digo Python, importe o m√≥dulo SQLite3 usando a declara√ß√£o import sqlite3. Isso tornar√° todas as funcionalidades do SQLite3 dispon√≠veis para uso em seu programa.

#### 5. Conecte-se ao banco de dados

Para come√ßar a interagir com um banco de dados SQLite3, voc√™ precisa estabelecer uma conex√£o com o arquivo do banco de dados. Use a fun√ß√£o connect() do m√≥dulo SQLite3, passando o caminho para o arquivo do banco de dados como argumento.

#### 6. Execute comandos SQL

Ap√≥s estabelecer a conex√£o, voc√™ pode executar comandos SQL no banco de dados. Use o m√©todo execute() do objeto de conex√£o para enviar consultas e comandos SQL para o banco de dados. Voc√™ tamb√©m pode usar os m√©todos fetchone() e fetchall() para recuperar os resultados das consultas.

#### 7. Feche a conex√£o

Sempre que terminar de usar o banco de dados, √© importante fechar a conex√£o para liberar recursos. Use o m√©todo close() do objeto de conex√£o para fazer isso.

Com o m√≥dulo SQLite3 instalado e configurado corretamente, voc√™ est√° pronto para come√ßar a utilizar o Python SQLite3 para trabalhar com bancos de dados SQLite3 em seus projetos. Aprenda a criar, conectar e gerenciar um banco de dados SQLite3 utilizando o Python e aproveite todos os benef√≠cios que essa combina√ß√£o poderosa tem a oferecer.

### Aprenda a criar, conectar e gerenciar um banco de dados SQLite3 utilizando o Python.

O Python SQLite3 oferece uma s√©rie de recursos que permitem criar, conectar e gerenciar um banco de dados SQLite3 de maneira eficiente e conveniente. Nesta se√ß√£o, vamos explorar os principais passos para realizar essas tarefas.

#### 1. Criando um banco de dados

Para criar um banco de dados SQLite3, voc√™ pode utilizar o m√≥dulo SQLite3 do Python para executar comandos SQL. Por exemplo, voc√™ pode executar a seguinte instru√ß√£o SQL para criar um novo banco de dados:

```python
import sqlite3

  # Conectando ao banco de dados (caso n√£o exista, ser√° criado)
  conn = sqlite3.connect('nome_do_banco.db')
```

#### 2. Conectando ao banco de dados

Ap√≥s criar o banco de dados, √© necess√°rio estabelecer uma conex√£o com ele para realizar opera√ß√µes. Utilize a fun√ß√£o connect() do m√≥dulo SQLite3, passando o caminho para o arquivo do banco de dados como argumento. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')
```

#### 3. Executando comandos SQL

Com a conex√£o estabelecida, voc√™ pode executar comandos SQL para realizar opera√ß√µes no banco de dados. Utilize o m√©todo execute() do objeto de conex√£o para enviar consultas e comandos SQL. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Executando um comando SQL para criar uma tabela
  conn.execute('CREATE TABLE IF NOT EXISTS usuarios (id INTEGER PRIMARY KEY, nome TEXT, idade INTEGER)')
```

#### 4. Inserindo dados

Para inserir dados em uma tabela do banco de dados, utilize o comando INSERT INTO seguido pelo nome da tabela e os valores a serem inseridos. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Inserindo um novo usu√°rio na tabela
  conn.execute("INSERT INTO usuarios (nome, idade) VALUES ('Jo√£o', 25)")
```

#### 5. Atualizando dados

Para atualizar registros existentes em uma tabela, utilize o comando UPDATE seguido pelo nome da tabela, os campos a serem atualizados e as condi√ß√µes para a atualiza√ß√£o. Por exmplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Atualizando a idade de um usu√°rio
  conn.execute("UPDATE usuarios SET idade = 26 WHERE nome = 'Jo√£o'")
```

#### 6. Excluindo dados

Para excluir registros de uma tabela, utilize o comando DELETE FROM seguido pelo nome da tabela e as condi√ß√µes para a exclus√£o. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Excluindo um usu√°rio da tabela
  conn.execute("DELETE FROM usuarios WHERE nome = 'Jo√£o'")
```

### Explorando as principais funcionalidades do Python SQLite3: consultas, inser√ß√µes, atualiza√ß√µes e exclus√µes de dados.

Com o Python SQLite3, voc√™ pode realizar diversas opera√ß√µes relacionadas a consultas, inser√ß√µes, atualiza√ß√µes e exclus√µes de dados em um banco de dados SQLite3. Vamos explorar cada uma dessas funcionalidades em detalhes.

#### Consultas

Para realizar consultas em um banco de dados SQLite3, utilize o comando SELECT seguido pelos campos desejados e as condi√ß√µes de filtragem. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Realizando uma consulta para recuperar todos os usu√°rios com idade maior que 20
  consulta = conn.execute("SELECT * FROM usuarios WHERE idade > 20")

  # Percorrendo os resultados da consulta
  for row in consulta:
      print(row)
```

#### Inser√ß√µes

Para inserir dados em uma tabela, utilize o comando INSERT INTO seguido pelo nome da tabela e os valores a serem inseridos. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Inserindo um novo usu√°rio na tabela
  conn.execute("INSERT INTO usuarios (nome, idade) VALUES ('Maria', 30)")
```

#### Atualiza√ß√µes

Para atualizar registros existentes em uma tabela, utilize o comando UPDATE seguido pelo nome da tabela, os campos a serem atualizados e as condi√ß√µes para a atualiza√ß√£o. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Atualizando a idade de um usu√°rio
  conn.execute("UPDATE usuarios SET idade = 31 WHERE nome = 'Maria'")
```

#### Exclus√µes

Para excluir registros de uma tabela, utilize o comando DELETE FROM seguido pelo nome da tabela e as condi√ß√µes para a exclus√£o. Por exemplo:

```python
import sqlite3

  # Conectando ao banco de dados existente
  conn = sqlite3.connect('nome_do_banco.db')

  # Excluindo um usu√°rio da tabela
  conn.execute("DELETE FROM usuarios WHERE nome = 'Maria'")
```

Aprenda a utilizar o banco de dados SQLite3 com Python e explore todas essas funcionalidades para criar, conectar, gerenciar, consultar, inserir, atualizar e excluir dados de forma eficiente e flex√≠vel. O Python SQLite3 √© uma ferramenta poderosa que facilita o trabalho com bancos de dados, proporcionando um ambiente simples e eficaz para suas necessidades de armazenamento e recupera√ß√£o de dados.

Refer√™ncias: 

Awari by Fluency . <https://awari.com.br/> . Acessado em 22/05/2024.

# Banco de Dados 3

Prepara√ß√£o corra üèÉ‚Äç‚ôÇÔ∏è‚Äç‚û°Ô∏è os seguintes c√≥digos:

```python
# Chamando bibliotecas - banco de dados
import sqlite3 
from contextlib import closing
```

```python
# Criando um banco de dados (Create)
conex√£o = sqlite3.connect("agenda.db")
cursor = conex√£o.cursor()
cursor.execute(''' create table agenda(nome text,telefone text) ''')
cursor.execute('''insert into agenda (nome, telefone) values(?,?)''', ("Nilo","7788-1432"))
conex√£o.commit()
cursor.close()
conex√£o.close
```

```python
# Inserindo registros (Create)
dados = [("Jo√£o","98901-0109"),
("Andr√©","98902-8900"),
("Maria","97891-3321")]
conex√£o = sqlite3.connect("agenda.db")
cursor = conex√£o.cursor()
cursor.executemany(''' 
    insert into agenda(nome,telefone)
    values(?,?)
 ''',dados)
conex√£o.commit()
cursor.close()
conex√£o.close()
```

```python
# Pesquisando um banco de dados (Recover)
from contextlib import closing 
with sqlite3.connect('agenda.db') as conex√£o:
    with closing(conex√£o.cursor()) as cursor:
        cursor.execute("select * from agenda")
        while True:
            resultado = cursor.fetchone()
            if resultado is None:
                break
            print(f'Nome: {resultado[0]} \nTelefone: {resultado[1]}')
```

# Banco de Dados 3

## Acessando os campos como em um dicion√°rio

Acessar os campos por posi√ß√£o nem sempre √© t√£o f√°cil. Em python, usando SQLite, podemos acess√°-los pelo nome, adicionando uma linha:

```python
conex√£o.row_factory = sqlite3.Row
```

Vejamos o programa completo:

```python
import sqlite3
from contextlib import closing

with sqlite3.connect("agenda.db") as conex√£o:
    conex√£o.row_factory = sqlite3.Row
    with closing(conex√£o.cursor()) as cursor:
        for registro in cursor.execute("SELECT * FROM agenda"):
            print(f"Nome: {registro['nome']}\nTelefone: {registro['Telefone']}")
```

Dessa forma, registro posse ser acessado como se fosse 
um dicion√°rio, no qual o nome do campo √© usado como chave. Outra facilidade que essa linha traz √© que as chaves s√£o aceitas sem diferenciar se o nome dos campos foi escrito em mai√∫sculas ou min√∫sculas. Por exemplo:

```python
f"Nome: {registro['Nome']}\nTelefone: {registro['Telefone']}"
```

## Gerando uma chave prim√°ria üîë

At√© agora, trabalhamos apenas com campos normais, ou seja, campos que t√™m dados. Conforme nossas tabelas crescem, trabalhar apenas com dados pode n√£o ser a melhor solu√ß√£o, e precisaremos acrescentar campos artificiais utilizados para manter o banco de dados como identificadores e marcadores. Uma dessas neccessidades √© identificar cada registro de maneira √∫nica. N√≥s podemoos utilizar dados que n√£o se repetem, ou que n√£o deveriam se repetir, como o nome da pessoa, commo a chave prim√°ria. Podemos entender uma chave prim√°ria como a chave de um dicion√°rio, mas, nesse caso, para tabelas em nosso banco de dados. Qualquer campo ou conjunto de campos podem servir de chave prim√°ria. Uma alternativa oferecida pelo SQL √© a gera√ß√£o autom√°tica de chaves. Nesse caso, o banco se encarrega de criar n√∫meros √∫nicos para cada registro.

Vamos implementar outro banco de dados, com a popula√ß√£o de cada estado do Brasil. Veremos como deixar o SQLite gerar uma chave prim√°ria automaticamente:

```sql
CREATE TABLE estados(id INTEGER PRIMARY KEY AUTOINCREMENT, nome TEXT, popula√ß√£o INTEGER)
```

Ao criarmos a tabela estados, estamos especificando tr√™s campos: ```id```, ```nome``` e ```popula√ß√£o```. Veja que ```id``` e ```popula√ß√£o``` s√£o do tipo ```INTEGER```, ou seja, os n√∫meros inteiros (**int**). ```√¨d``` √© o campo que escolhemos para ser a chave prom√°ria dessa tabela, e escrevemos ```PRIMARY KEY AUTOINCREMENT``` para que o SQLite gere esses n√∫meros automaticamente. Entenda ```id``` como a abrevia√ß√£o de identificador √∫nico ou identidade. ```PRIMARY KEY``` significa chave prim√°ria.

O programa a seguir cria um banco de dados ```brasil.db```  a tabela ```estados```  e tamb√©m inclui o nome e popula√ß√£o de todos os estados brasileiros. Os dados foram extra√≠dos da Wikip√©dia (<https://pt.wikipedia.org/wiki/Unidades_federativas_do_Brasil>).

```python
import sqlite3
from contextlib import closing

dados = [
    ["S√£o Paulo", 43663672],
    ["Minas Gerais", 20593366],
    ["Rio de Janeiro", 16369178],
    ["Bahia", 15044127],
    ["Rio Grande do Sul", 11164050],
    ["Paran√°", 10997462],
    ["Pernambuco", 9208511],
    ["Cear√°", 8778575],
    ["Par√°", 7969655],
    ["Maranh√£o", 6794298],
    ["Santa Catarina", 6634250],
    ["Goi√°s", 6434052],
    ["Para√≠ba", 3914418],
    ["Esp√≠rito Santo", 3838363],
    ["Amazonas", 3807923],
    ["Rio Grande do Norte", 3373960],
    ["Alagoas", 3300938],
    ["Piau√≠", 3184165],
    ["Mato Grosso", 3182114],
    ["Distrito Federal", 2789761],
    ["Mato Grosso do Sul", 2587267],
    ["Sergipe", 2195662],
    ["Rond√¥nia", 1728214],
    ["Tocantins", 1478163],
    ["Acre", 776463],
    ["Amap√°", 734995],
    ["Roraima", 488072],
]
with sqlite3.connect("brasil.db") as conex√£o:
    conex√£o.row_factory = sqlite3.Row
    with closing(conex√£o.cursor()) as cursor:
        cursor.execute("""create table estados(
                              id integer primary key autoincrement,
                              nome text,
                              popula√ß√£o integer
                     )""")
        cursor.executemany("insert into estados(nome, popula√ß√£o) values(?,?)", dados)
    conex√£o.commit()
```

O valor do campo ```id``` ser√° gerado automaticamente. Uma vez que temos a popula√ß√£o dos estados, vamos fazer uma consulta para listar os estados em ordem alfab√©tica. Ao executar o pr√≥ximo programa, observe os valores gerados no campo ```id```, no caso, valores n√∫mericos de 1 a 27.

```python
import sqlite3

with sqlite3.connect("brasil.db") as conex√£o:
    conex√£o.row_factory = sqlite3.Row
    print(f"{'Id':3s} {'Estado':<20s} {'Popula√ß√£o':12s}")
    print("=" * 37)
    for estado in conex√£o.execute("select * from estados order by nome"):
        print(f"{estado['id']:3d} {estado['nome']:<20s} {estado['popula√ß√£o']:12d}")
```

A grande diferen√ßa √© que estamos utilizando a cl√°usula ```ORDER BY``` para para ordenar os resultados de nossa consulta; nesse caso, pelo campo ```nome```.

```sql
SELECT * FROM estados ORDER BY nome
```

Modifique o programa para que os estados sejam impressos pela popula√ß√£o, usando a consulta:

```sql
SELECT * FROM estados ORDER BY popula√ß√£o
```

Execute o programa novamente e veja que os estados foram agora impressos pela popula√ß√£o, mas da menor para a maior. Embora essa seja a ordem normal, quando trabalhamos com lista de estados por popula√ß√£o, esperamos ver do estado mais populoso, ou seja, na ordem inversa (decrescente) dos valores. Vejamos esse resultado ao adicionarmos ```DESC``` ap√≥s o nome do campo:

```sql
SELECT * FROM estados ORDER BY popula√ß√£o DESC
```

## Alterando a tabela

Vamos acrescentar mais alguns campos a nossa tabela de estados. Um campo para a regi√£o do Brasil e outro para a sigla do estado. Em SQL, o comando utilizado para alterar os campos de uma tabela √© o ```ALTER TABLE```.

```sql
ALTER TABLE estados ADD sigla TEXT
ALTER TABLE estados ADD regi√£o TEXT
```

O comando ```ALTER TABLE``` do SQLite √© limitado se comparado com outros bancos de dados. Em outros bancos, podem-se alterar v√°rios campos com um s√≥ ```ALTER TABLE```, mas, no SQLite n√£o param por a√≠. Por isso, planeje suas tabelas com cuidadee, caso precise realizar grandes mudan√ßas, prefira criar outra tabela com as altera√ß√µes e copiar os dados da tabela antiga. Execute o programa para alterar a tabela estados e adicinar os campos sigla e regi√£o:

```python
import sqlite3

with sqlite3.connect("brasil.db") as conex√£o:
    conex√£o.execute("""alter table estados
                       add sigla text""")
    conex√£o.execute("""alter table estados
                       add regi√£o text""")
```

Agora que a tabela possui os novos campos, vamos alterar nossos registros e preencher a regi√£o e sigla a cada estado. Execute o programa:

```python
# T√≠tulo: Atualizando a tabela de estados para incluir a sigla e regi√£o de cada estado
##############################################################################
import sqlite3

dados = [
    ["SP", "SE", "S√£o Paulo"],
    ["MG", "SE", "Minas Gerais"],
    ["RJ", "SE", "Rio de Janeiro"],
    ["BA", "NE", "Bahia"],
    ["RS", "S", "Rio Grande do Sul"],
    ["PR", "S", "Paran√°"],
    ["PE", "NE", "Pernambuco"],
    ["CE", "NE", "Cear√°"],
    ["PA", "N", "Par√°"],
    ["MA", "NE", "Maranh√£o"],
    ["SC", "S", "Santa Catarina"],
    ["GO", "CO", "Goi√°s"],
    ["PB", "NE", "Para√≠ba"],
    ["ES", "SE", "Esp√≠rito Santo"],
    ["AM", "N", "Amazonas"],
    ["RN", "NE", "Rio Grande do Norte"],
    ["AL", "NE", "Alagoas"],
    ["PI", "NE", "Piau√≠"],
    ["MT", "CO", "Mato Grosso"],
    ["DF", "CO", "Distrito Federal"],
    ["MS", "CO", "Mato Grosso do Sul"],
    ["SE", "NE", "Sergipe"],
    ["RO", "N", "Rond√¥nia"],
    ["TO", "N", "Tocantins"],
    ["AC", "N", "Acre"],
    ["AP", "N", "Amap√°"],
    ["RR", "N", "Roraima"],
]

with sqlite3.connect("brasil.db") as conex√£o:
    conex√£o.executemany(
        """update estados
                           set sigla = ?,
                           regi√£o = ?
                           where nome = ?""",
        dados,
    )
```

Agora nosso banco de dados possui uma tabela estados com a popula√ß√£o, sigla e regi√£o de cada estado. Esses novos campos permitir√£o utilizarmos fun√ß√µes de agrega√ß√£o da linguagem SQL: ```COUNT```, ```MIN```, ```MAX```, ```AVG``` e ```SUM```.

## Agrupando dados

Um banco de dados pode realizar opera√ß√µes de agrupamento de dados facilmente. Podemos, por exemplo, solicitar o valor m√≠nimo de um grupo de registros, assim como tamb√©m o m√°ximo ou a m√©dia desses valores. No entanto, temos de modificar nossos comandos SQL para indicar como o banco de dados deve agrupar nossos registros.

Vejamos como realizar um grupo simples e exibir quantos registros fazem parte desse grupo, usando a fun√ß√£o ```COUNT```. A cl√°usula SQL que indica agrupamento √© ```GROUP BY```, seguida do nome dos campos que comp√µe o grupo. Imagine que o banco vai concatenar cada um desses campos, criando um valor para cada registro. Vamos chamar esse valor de "chave de grupo". Todos os registros com a mesma chave de grupo fazem parte do mesmo grupo e ser√£o representados por apenas um registro na consulta de sele√ß√£o. Essa consulta com grupo s√≥ pode conter os campos utilizados para compor a chave do grupo e fun√ß√µes de agrupamento de dados, como ```MIN``` (m√≠nimo), ```MAX``` (m√°ximo), ```AVG``` (m√©dia, do ingl√™s *average*), SUM (soma) e ```COUNT``` (contagem).

Um exemplo concreto como nosso banco de dados √© agrupar os estados por regi√£o. A consulta seria algo como:

```sql
SELECT regi√£o, count(*) from group by regi√£o
```

Esse comando utiliza a cl√°usula ```GROUP BY``` regi√£o para especificar a chave de grupo. Dessa forma, todos os registros que pertencem √° mesma regi√£o s√£o agrupados. Observe que os campos ap√≥s o ```SELECT``` incluem regi√£o e ```COUNT(*)```. O campo regi√£o p√¥de ser inclu√≠do, pois faz parte da chave de grupo especificada em ```GROUP BY```. A fun√ß√£o ```COUNT(*)``` retorna quantos registros fazem parte do grupo. Vejamos o resultado do programa:

```python
# T√≠tulo: Exibindo o n√∫mero de estados por regi√£o
##############################################################################
import sqlite3

print("Regi√£o N√∫mero de Estados")
print("====== =================")
with sqlite3.connect("brasil.db") as conex√£o:
    for regi√£o in conex√£o.execute("""
        select regi√£o, count(*)
        from estados
        group by regi√£o"""):
        print("{0:6} {1:17}".format(*regi√£o))
```


Vamos adicionar as fun√ß√µes ```MIN```, ```MAX```, ```SUM``` e ```AVG``` no campo popula√ß√£o. Veja o novo programa:

```python
# T√≠tulo: Exibindo a popula√ß√£o m√≠nima, m√°xima, m√©dia e total de cada regi√£o
##############################################################################
import sqlite3

print("Regi√£o Estados Popula√ß√£o  M√≠nima    M√°xima      M√©dia    Total (soma)")
print("====== =======          ========= ========== ==========  ============")
with sqlite3.connect("brasil.db") as conex√£o:
    for regi√£o in conex√£o.execute("""
        select regi√£o, count(*), min(popula√ß√£o),
               max(popula√ß√£o), avg(popula√ß√£o), sum(popula√ß√£o)
        from estados
        group by regi√£o"""):
        print("{0:6} {1:7} {2:18,} {3:10,} {4:10,.0f} {5:13,}".format(*regi√£o))
    print(
        "\nBrasil: {0:6} {1:18,} {2:10,} {3:10,.0f} {4:13,}".format(
            *conex√£o.execute("""
            select count(*), min(popula√ß√£o), max(popula√ß√£o),
                   avg(popula√ß√£o), sum(popula√ß√£o) from estados""").fetchone()
        )
    )
```

Conseguimos calcular a popula√ß√£o m√≠nima, m√°xima, m√©dia e total de cada regi√£o e tamb√©m para o Brasil. Veja que, na segunda consulta, a que calcula os dados para o Brasil. Veja que, na segunda consulta, a que calcula os dados para o Brasil, n√£o utilizamos a cl√°usula ```GROUP BY```, podemos continuar usando tudo que j√° aprendemos em SQL, como as cl√°usulas ```WHERE``` e ```ORDER BY```. Vejamos o mesmo programa, mas com linhas ordenadas pela popula√ß√£o total de cada regi√£o em ordem decrescente:

```python
# T√≠tulo: Ordenando os resultados
##############################################################################
import sqlite3

print("Regi√£o Estados Popula√ß√£o  M√≠nima    M√°xima      M√©dia    Total (soma)")
print("====== =======          ========= ========== ==========  ============")
with sqlite3.connect("brasil.db") as conex√£o:
    for regi√£o in conex√£o.execute("""
        select regi√£o, count(*), min(popula√ß√£o),
               max(popula√ß√£o), avg(popula√ß√£o), sum(popula√ß√£o)
        from estados
        group by regi√£o
        order by sum(popula√ß√£o) desc"""):
        print("{0:6} {1:7} {2:18,} {3:10,} {4:10,.0f} {5:13,}".format(*regi√£o))
    print(
        "\nBrasil: {0:6} {1:18,} {2:10,} {3:10,.0f} {4:13,}".format(
            *conex√£o.execute("""
            select count(*), min(popula√ß√£o), max(popula√ß√£o),
                   avg(popula√ß√£o), sum(popula√ß√£o) from estados""").fetchone()
        )
    )
```

Veja que escrevemos `SUM(popula√ß√£o) as tpop`, dando o nome `tpop` √† soma. Esse tipo de constru√ß√£o evita a repeti√ß√£o da fun√ß√£o na consulta e facilita a leitura.

Resultado da execu√ß√£o do programa:

```
Regi√£o Estados Popula√ß√£o  M√≠nima    M√°xima      M√©dia    Total (soma)
====== =======          ========= ========== ==========  ============
SE           4          3,838,363 43,663,672 21,116,145    84,464,579
NE           9          2,195,662 15,044,127  6,199,406    55,794,654
S            3          6,634,250 11,164,050  9,598,587    28,795,762
N            7            488,072  7,969,655  2,426,212    16,983,485
CO           4          2,587,267  6,434,052  3,748,298    14,993,194

Brasil:     27            488,072 43,663,672  7,445,618   201,031,674
```

Podemos tamb√©m filtrar os resultados ap√≥s o agrupamento, usando a cl√°usula `HAVING`. Para entender a diferen√ßa entre `WHERE` e `HAVING`, imagine que `WHERE` √© executada antes antes do agrupamento, selecionando os registros que far√£o parte do resultado, antes de o agrupamento ser realizado. A cl√°usula `HAVING` avalia o resultado do agrupamento e decide quais far√£o parte do resultado final. Por exemplo, podemos escolher apenas regi√µes com mais de cinco estados. Como a quantidade de estados por regi√£o s√≥ √© conhecida ap√≥s o agrupamento ('GROUP BY'), essa condi√ß√£o deve aparecer em uma cl√°usula `HAVING`.

```python
select regi√£o, count(*), min(popula√ß√£o),
           max(popula√ß√£o), avg(popula√ß√£o), sum(popula√ß√£o) as tpop
           from estados group by regi√£o
       having count(*) > 5
           order by tpop desc
```

Veja o programa completo utilizando `HAVING`:

```python
# T√≠tulo: Listando apenas as regi√µes com mais de 5 estados
##############################################################################
import sqlite3

print("Regi√£o Estados Popula√ß√£o  M√≠nima    M√°xima      M√©dia    Total (soma)")
print("====== =======          ========= ========== ==========  ============")
with sqlite3.connect("brasil.db") as conex√£o:
    for regi√£o in conex√£o.execute("""
        select regi√£o, count(*), min(popula√ß√£o),
               max(popula√ß√£o), avg(popula√ß√£o), sum(popula√ß√£o) as tpop
        from estados
        group by regi√£o
        having count(*) > 5
        order by tpop desc"""):
        print("{0:6} {1:7} {2:18,} {3:10,} {4:10,.0f} {5:13,}".format(*regi√£o))
```

Resultando em:

```
    Regi√£o Estados Popula√ß√£o  M√≠nima    M√°xima      M√©dia    Total (soma)
====== =======          ========= ========== ==========  ============
NE           9          2,195,662 15,044,127  6,199,406    55,794,654
N            7            488,072  7,969,655  2,426,212    16,983,485
```

Uma vez que apenas as regi√µes Norte (N) e Nordeste(NE) possuem mais de cinco estados.


## Trabalhando com datas

Embora o SQLite trabalhe com datas, o tipo date n√£o √© suportado diretamente gerando uma certa confus√£o entre datas e strings. Vamos criar uma tabela com um campo do tipo data.

```python
# T√≠tulo: Criando e populando uma tabela com feriados
##############################################################################
import sqlite3

feriados = [
    ["2018-01-01", "Confraterniza√ß√£o Universal"],
    ["2018-04-21", "Tiradentes"],
    ["2018-05-01", "Dia do trabalhador"],
    ["2018-09-07", "Independ√™ncia"],
    ["2018-10-12", "Padroeira do Brasil"],
    ["2018-11-02", "Finados"],
    ["2018-11-15", "Proclama√ß√£o da Rep√∫blica"],
    ["2018-12-25", "Natal"],
]
with sqlite3.connect("brasil.db") as conex√£o:
    conex√£o.execute(
        "create table feriados(id integer primary key autoincrement, data date, descri√ß√£o text)"
    )
    conex√£o.executemany("insert into feriados(data,descri√ß√£o) values (?,?)", feriados)
```


Criamos a tabela feriados e inserimos algumas datas. Observe que escrevemos as datas no formato ISO 8601 (<https://pt.wikipedia.org/wiki/ISO_8601>), ou seja: ANO-M√äS-DIA. Nesse formato, a data do Natal (25/12/2018) √© escrita como 2018-12-25. Escrever as datas nesse formato √© uma caracter√≠stica do SQLite. Sempre escreva sua datas no formato ISO ao trabalhar com esse gerenciador de banco de dados. Observe que utilizamos o tipo `date` (data) na coluna data. Modifique o ano de 2018 para o ano corrente, caso necess√°rio.

Vejamos como acessar esses valores no programa:

```python
# T√≠tulo: Exibindo os feriados
##############################################################################
import sqlite3

with sqlite3.connect("brasil.db") as conex√£o:
    for feriado in conex√£o.execute("select * from feriados"):
        print(feriado)

```

Que resulta em:

```
(1, '2018-01-01', 'Confraterniza√ß√£o Universal')
(2, '2018-04-21', 'Tiradentes')
(3, '2018-05-01', 'Dia do trabalhador')
(4, '2018-09-07', 'Independ√™ncia')
(5, '2018-10-12', 'Padroeira do Brasil')
(6, '2018-11-02', 'Finados')
(7, '2018-11-15', 'Proclama√ß√£o da Rep√∫blica')
(8, '2018-12-25', 'Natal')

```



Acessamos o campo data como fazemos at√© ent√£o, sem algum procedimento especial. Veja que, ao imprimirmos a tupla `feriado` com o resultado de nossa sele√ß√£o, o campo `data` foi impresso como uma string qualquer. Nada impede que utilizemos strings para representar datas, como fizemos ao criar o banco de dados, mas campos do tipo data s√£o mais interessantes, pois podemos facilmente consultar o dia da semana e tamb√©m realizar opera√ß√µes com datas.

Vamos modificar nossa conex√£o com o SQLite de forma a solicitar o processamento dos tipos de campo em nossas consultas. Ao solicitarmos a conex√£o, devemos passar `detect_types=sqlite3.PARSE_DECLTYPES` como par√¢metro. Vejamos o novo programa com essa modifica√ß√£o:

```python
# T√≠tulo: Convertendo datas em datetime
##############################################################################
import sqlite3

with sqlite3.connect("brasil.db", detect_types=sqlite3.PARSE_DECLTYPES) as conex√£o:
    for feriado in conex√£o.execute("select * from feriados"):
        print(feriado)

```

O resultado √© bem diferente:

```
(1, datetime.date(2018, 1, 1), 'Confraterniza√ß√£o Universal')
(2, datetime.date(2018, 4, 21), 'Tiradentes')
(3, datetime.date(2018, 5, 1), 'Dia do trabalhador')
(4, datetime.date(2018, 9, 7), 'Independ√™ncia')
(5, datetime.date(2018, 10, 12), 'Padroeira do Brasil')
(6, datetime.date(2018, 11, 2), 'Finados')
(7, datetime.date(2018, 11, 15), 'Proclama√ß√£o da Rep√∫blica')
(8, datetime.date(2018, 12, 25), 'Natal')
```


Veja que os valores do campo `data` agora s√£o objetos da classe `datetime.date`. Isso evita termos de fazer a convers√£o manualmente de string para `datetime.date`.

Agora vamos utilizar o m√©todo `strftime` do objeto da classe `datetime.date` para exibir apenas o dia o m√™s da data, sem ano:

```python
# T√≠tulo: Exibi√ß√£o parcial da data
##############################################################################
import sqlite3

with sqlite3.connect("brasil.db", detect_types=sqlite3.PARSE_DECLTYPES) as conex√£o:
    conex√£o.row_factory = sqlite3.Row
    for feriado in conex√£o.execute("select * from feriados"):
        print(f"{feriado['data'].strftime('%d/%m')} {feriado['descri√ß√£o']}")

```



Voltamos a utilizar `row_factory` para acessarmos os campos por nome, como em dicion√°rio. O m√©todo `strftime` foi utilizado com a m√°scara `%d/%m` para exibir apenas o dia e o m√™s. Voc√™ pode verificar os formatos aceitos por `strftime` na tabela abaixo:

|**C√≥digo**|**Descri√ß√£o**|
|:----:|:---|
|%a|dia da semana abreviado|
|%A|nome do dia da semana|
|%b|nome do m√™s abreviado|
|%B|nome do m√™s completo|
|%c|data e hora conforme configura√ß√£o regional|
|%d|dia do m√™s (01-31)|
|%H|hora do formato 24 h (00-23)|
|%I|hora no formato 12 h|
|%j|dia do ano 001-366|
|%m|m√™s (01-12)|
|%M|minutos (00-59)|
|%p|AM ou PM|
|%S| segundos (00-61)|
|%U|n√∫mero da semana (00-53), em que a semana 1 come√ßa no primeiro domingo|
|%w|dia da semana (0-6), em que 0 √© o domingo|
|%W|n√∫mero da semana (00-53), em que a semana 1 come√ßa ap√≥s a primeira segunda-feira|
|%x|representa√ß√£o regional da data|
|%X|representa√ß√£o regional da hora|
|%y|ano (00-99)|
|%Y|ano com 4 d√≠gitos|
|%Z|nome do fuso hor√°rio|
|%|s√≠mbolo de %|

Vejamos o resultado do programa:

```
01/01 Confraterniza√ß√£o Universal
21/04 Tiradentes
01/05 Dia do trabalhador
07/09 Independ√™ncia
12/10 Padroeira do Brasil
02/11 Finados
15/11 Proclama√ß√£o da Rep√∫blica
25/12 Natal
```

Fa√ßa uma pesquisa no texto acima e cite os principais comandos encontrados em SQL: